* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/* header first section */
header li {
    list-style: none;

}

.flower-house {
    color: #ffffff;
    text-align: left;

}

.flower-list {
    display: flex;
}

.flower-house-list {
    color: #FFF;
    padding-right: 30px;
    font-size: 20px;


}
/* header  second section */
.section2-div{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}
.section2-first-div{
    padding-top: 150px;
    padding-left: 150px;
}

.header-sec-first {
    padding: 20px;
    display: flex;
    background: #E55473;;
    justify-content: space-around;

}

.header-first-div-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    
}

.header-first-div-peragraf {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 30px;
    width: 50%;
}

.header-first-div-btn {
    background-color: #E55473;
    color: #FFF;
    border-radius:  50px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    margin-top: 30px;

    
}
.section2-sec-div{
    padding-top: 50px;
    padding-right: 150px;
}
.first-pic{
    width: 635px;
height: 800px;
flex-shrink: 0;
}
/* main */
/* first section */
.main-sec-1-first-div{
display: flex;
text-align: center;
padding-top: 200px;
justify-content: center;
}
.Featured-Flowers-heading{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.Featured-Flowers-pera{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* 3 pic */

.main-sec-1-second-div{
    display: flex;
    justify-content:center;
    padding-top: 50px;
}
.sec-1-flower-1-div{
    margin: 50px;
    background-color:#A7216226;
    width: 400px;
    height: 500px;
    border-radius: 200px 200px 0px 0px;
    
}
.sec-1-flower-1-pic{
    padding-left: 50px;
    padding-top: 70px;
}
.sec-1-flower-2-div{
    margin: 50px;
    background-color:#921f1027;
    width: 400px;
    height: 500px;
    border-radius: 200px 200px 0px 0px;

}
.sec-1-flower-2-pic{

    padding-left: 40px;
    padding-top: 60px;
    padding-right: 20px;
}
.sec-1-flower-3-div{
    margin: 50px;
    background-color: #477D1126;
    width: 400px;
    height: 500px;
    border-radius: 200px 200px 0px 0px;

}
.sec-1-flower-3-pic{
    
    padding-left: 50px;
    padding-top: 28px;
}
.pink-flower-tree-div{
    display: flex;
    align-items: center;
    justify-content: center;}

.pink-flower-tree-1{
    

color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
padding-left:0px 200px 0px;
padding-right: 130px;
}
.pink-flower-tree-2{
    
color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
padding: 0px 200px 0px;


}
.pink-flower-tree-3{
    
color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
padding-left:0px 200px 0px;
padding-left: 130px;
    

}
